.search__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: #f4f4f4;
  border-radius: 10px;
  outline: none;
  border: transparent;
  padding-left: 15px;
}

input::placeholder {
  padding-left: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #c1c1c1;
  background-position: left;
  position: absolute;
  top: 25%;
  left: 15px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 15' width='14' height='15' %3E%3Cpath fill='%23c1c1c1' d='M 5.50006 0 C 8.53765 0 11.0001 2.46256 11.0001 5.50029 C 11.0001 6.74868 10.5842 7.89993 9.88346 8.82304 L 13.7791 12.7233 C 14.0718 13.0164 14.0715 13.4913 13.7785 13.784 C 13.4854 14.0767 13.0105 14.0764 12.7178 13.7834 L 8.82266 9.88388 C 7.89959 10.5847 6.74839 11.0006 5.50006 11.0006 C 2.46246 11.0006 0 8.53802 0 5.50029 C 0 2.46256 2.46246 0 5.50006 0 Z M 5.50006 1.5 C 3.2909 1.5 1.5 3.29098 1.5 5.50029 C 1.5 7.70961 3.2909 9.50058 5.50006 9.50058 C 7.70921 9.50058 9.50011 7.70961 9.50011 5.50029 C 9.50011 3.29098 7.70921 1.5 5.50006 1.5 Z' /%3E%3C/svg%3E");
}
